/* CSS untuk bagian card */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0; /* Menghilangkan padding yang ada */
    margin-bottom: 20px; /* Menambahkan jarak antara card */
  }
  
  .card-img-top {
    border-radius: 10px 10px 0 0;
    
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 10px; /* Menambahkan padding ke dalam card title */
    color: #fff; /* Warna teks judul card */
    border-radius: 0 0 10px 10px; /* Melengkungkan sudut bawah card title */
  }
  
  .card-text {
    font-size: 1rem;
    color: #333;
    padding: 15px; /* Menambahkan padding ke dalam card text */
  }
  
  /* Mengatur hover effect pada card */
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  